// * {
//     outline: 1px solid black;
// }

img {
    height: auto;
    width: 100%;
}



a {
    color: #3F5D45;
    display: block;
    text-decoration: none;
    font-weight: 900;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 50px;

    // nav
    nav.header {
        display: flex;
        align-items: center;
        padding: 10px 5px;

        h1 {
            background-image: url(../img/logo-all-dark.svg);
            width: 220px;
            height: 40px;
            text-indent: 101%;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            white-space: nowrap;
        }

        ul {
            margin-left: auto;
            display: flex;
            align-items: center;
            text-align: center;
            width: 300px;

            li>a {
                padding: 10px 8px;
            }

            li:nth-child(2) {
                margin: 0 30px;
            }
        }

        a {
            margin-right: 20px;
            &:hover{
                background-color: #EAF0ED;
            }
        }
    }

    // banner
    .banner {
        background-image: url(../img/banner.png);
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    //content
    .content {
        margin-top: 60px;
        display: flex;
        margin-bottom: 10px;
        

        // aside
        aside {
            h3 {
                background-color: #3F5D45;
                padding: 20px 0px;
                text-align: center;
                font-size: 24px;
                color:#EAF0ED;
            }
            ul {
                text-align: center;
                font-size: 24px;
                li {
                    border: 1px solid #EAF0ED;
                    width: 300px;
                    a {
                        padding: 20px 0px;
                    &:hover{
                        background-color: #EAF0ED;
                    }
                    }
                }
            }



        }

        // productList
        ul.productList {
            display: flex;
            flex-wrap: wrap;

            li.card {
                position: relative;
                width: 300px;
                margin-left: 15px;
                margin-bottom: 20px;

                img {
                    vertical-align: middle;
                }

                span {
                    text-align: center;
                    color: #3F5D45;
                    display: inline-block;
                    font-weight: 800;
                    padding: 14px 0;

                    &:nth-of-type(1) {
                        width:calc(300px - 136px);
                    }

                    &:nth-of-type(2) {
                        width: 127px;
                        border: 1px solid #EAF0ED;
                    }
                }

                &::before {
                    content: '本日精選';
                    width: 20px;
                    height: 80px;
                    position: absolute;
                    top: 0;
                    left: 15px;
                    background-color: #3F5D45;
                    color: #EAF0ED;
                    text-align: center;
                    padding: 15px 5px 0 5px;
                }

                &::after {
                    content: url(../img/favorite_border.png);
                    // background-image: url(../img/favorite_border.png);
                    // width: 50px;
                    // height: 50px;
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    cursor: pointer;
                }
            }

            &:nth-of-type(even) {
                margin-left: 20px;
            }

            button {
                border: none;
                background-color: #EAF0ED;
                color: #3F5D45;
                width: 100%;
                text-align: center;
                padding: 15px 0;
                font-size: 24px;
                font-weight: 900;
                cursor: pointer;
            }
        }
    }
}

// pagination
ul.pagination {
    display: flex;
    justify-content: end;

    li {
        a {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EAF0ED;
            img {
                width: 24px;
            }
        }

        &:nth-of-type(2) {
            background-color: #3F5D45;

            a {
                color: #EAF0ED;
            }
        }
    }
}