@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  width: 100%;
}

p {
  font-weight: 900;
}

a {
  color: #3F5D45;
  display: block;
  text-decoration: none;
  font-weight: 900;
}

.active {
  background-color: #EAF0ED;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.container nav.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
}

.container nav.header h1 {
  background-image: url(../img/logo-all-dark.svg);
  width: 220px;
  height: 40px;
  text-indent: 101%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  white-space: nowrap;
}

.container nav.header ul {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 300px;
}

.container nav.header ul li > a {
  padding: 10px 8px;
}

.container nav.header ul li:nth-child(2) {
  margin: 0 30px;
}

.container nav.header a {
  margin-right: 20px;
}

.container .banner {
  background-image: url(../img/banner.png);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .content {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.container .content aside ul {
  text-align: center;
  font-size: 24px;
}

.container .content aside ul li {
  border: 1px solid #EAF0ED;
  width: 300px;
}

.container .content aside ul li:nth-of-type(1) {
  background-color: #3F5D45;
}

.container .content aside ul li:nth-of-type(1) a {
  color: #EAF0ED;
}

.container .content aside ul a {
  padding: 20px 0px;
}

.container .content ul.productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .content ul.productList li.card {
  position: relative;
  width: 300px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.container .content ul.productList li.card img {
  vertical-align: middle;
}

.container .content ul.productList li.card span {
  text-align: center;
  color: #3F5D45;
  display: inline-block;
  font-weight: 800;
  padding: 14px 0;
}

.container .content ul.productList li.card span:nth-of-type(1) {
  width: 166px;
}

.container .content ul.productList li.card span:nth-of-type(2) {
  width: 127px;
  border: 1px solid #EAF0ED;
}

.container .content ul.productList li.card::before {
  content: '本日精選';
  width: 20px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 15px;
  background-color: #3F5D45;
  color: #EAF0ED;
  text-align: center;
  padding: 15px 5px 0 5px;
}

.container .content ul.productList li.card::after {
  content: url(../img/favorite_border.png);
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.container .content ul.productList:nth-of-type(even) {
  margin-left: 20px;
}

.container .content ul.productList button {
  border: none;
  background-color: #EAF0ED;
  color: #3F5D45;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}

ul.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

ul.pagination li a {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.pagination li a img {
  width: 24px;
}

ul.pagination li:nth-of-type(2) {
  background-color: #3F5D45;
}

ul.pagination li:nth-of-type(2) a {
  color: #EAF0ED;
}
/*# sourceMappingURL=main.css.map */